snippet ch
  // # =================================================================
  // # My section title
  // # =================================================================
snippet cs
  // # My subsection title
  // # =================================================================
snippet cd
  // # ========== My divider
snippet c
  // # A simple declaration
snippet cdo
  // == Tittle
  // -- Description
  // ## Content
